@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Header principal */

header{
    padding: 3vh 5vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 58px;
    padding-left: 200px;
}

nav a{
    display: flex;
    align-items: center;
    color: rgb(48, 46, 46);
    font-weight: 600;
    outline: none;
    font-size: 1rem;
    text-decoration: none;
}


.buttons-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 43px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none transparent;
    font-weight: 600;
    color: rgb(48, 46, 46);
    font-size: 18px;
}

.sign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none transparent;
    font-size: 18px;
    color: white;
    background-color: black;
    padding: 12px 30px;
    border-radius: 10px;
}

.bar-list{
    display: none;
}

/*Titulo y Info */

main{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
}

h3{
    display: block;
    font-weight: 300;
    color: gray;
    font-size: 17px;
}

.title{
    margin: 0 300px;
    letter-spacing: 3px;
    word-spacing: -1.1ch;
}

h1{
    color: black;
    font-size: 50px;
    font-weight: 800;
    text-wrap: wrap;
}

.using-letters{
    color: rgb(111, 3, 212);
}

.create-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border: solid black;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 60px;
}

.finish-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    font-weight: 500;
    font-size: 16px;
}

.finish-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Footer*/

.footer{
    display: flex;
    justify-content: center;
    border: none transparent;
    background-color: transparent;
    color: transparent;
    margin-top: 50px;
}

.footer-img{
    display: flex;
    background-color: transparent;
    color: transparent;
    width: 800px;
    margin-bottom: 50px;
}


.footer-img2{
    display: none;
}
/*Tablet responsive*/

@media screen and (max-width: 722px){
    /*Header*/
    nav{
        display: none;
    }

    .buttons-navbar{
        display: none;
    }
    .bar-list{
        display: flex;
        width: 30px;
        height: 30px;
        font-size: 30px;
        color: black;
    }

    /*Main y Info*/
    .main{
        display: flex;
        align-items: center;
        padding: 3vh 5vw;
        text-align: center;
    }

    h3{
        display: flex;
        font-size: 19px;
        
    }

    .title{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin: 5px 45px;
        font-size: 16px;
        font-weight: 200;
        
    }

    /*Footer*/

    .footer{
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

    .footer-img{
        display: none;
    }

    .footer-img2{
        display: flex;
        width: 600px;
        height: 600px;
        margin-bottom: 50px;
    }
}

/*Celular Responsive*/

@media screen and (max-width:500px){
    /*Main*/

    .title{
        display: flex;
        align-items: center;
        text-align: center;
        margin: 5 35px;
        font-size: 15px;
        letter-spacing: 2px;
        word-spacing: -1.5ch;
    }

    /*Footer*/

    .footer-img2{
        width: 400px;
        height: 500px;
    }
}
